
<mat-card class="titulo"> {{title}} </mat-card>
    
<app-visualizacao [ocorrencia]="ocorrencia" ></app-visualizacao>
<app-parecer [ocorrencia]="ocorrencia"></app-parecer>

<div  class='botoes'>
  <div  class='botao'>
    <button mat-stroked-button color="primary" (click)="salvar()">Salvar Parecer</button>
    <button mat-stroked-button color="primary" (click)="ocultarOcorrencia()">Ocultar Ocorrencia</button>
    <button mat-stroked-button color="primary" (click)="openDialog()">Vincular Ocorrencia</button>
  </div>
  <div class='botao'>
    <button mat-stroked-button color="primary" (click)="voltar()" style="align-items: left; " >Voltar</button>
  </div>
</div>



