


<div>

  
  <mat-card class="titulo"> {{title}} </mat-card>


    <mat-form-field class="datepicker" >
        <mat-label>Data inicio</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dataInicio" [ngModelOptions]="{standalone: true}"  [matDatepickerFilter]="dateFilter" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="datepicker" >
        <mat-label>Data fim</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="dataFim" [ngModelOptions]="{standalone: true}" [matDatepickerFilter]="dateFilter" disabled >
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
      

   
    <button mat-raised-button (click)="buscar()" color="primary"  [disabled]="dataInicio == null || dataFim ==null"> Consultar </button>
    
  
    <table mat-table class="table row-border hover responsive" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th>ID</th>    
          <th>Data Movimento</th>
          <th >Fundo</th>
          <th style="width: 200px !important;">Divisao</th>
          <th>Drive</th> 
          <th>Tipo Limite</th>   
          <th>Tipo Ocorrencia</th>      
          <th>Estado</th>
          <th>Alçada Final</th>
          <th>Data Abertura</th>
          <th>Data Prazo</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ocorrencia of ocorrencias">
          <td>{{ocorrencia.codigoSequencial}}</td>
          <td>{{ocorrencia.dataMovimento |  date:'yyyy-MM-dd' }}</td>
          <td>{{ocorrencia.atributos.fundo}}</td>
          <td>{{ocorrencia.atributos.divisao}}</td>
          <td>{{ocorrencia.atributos.drive}}</td>
          <td>{{ocorrencia.atributos.tipoLimite}}</td>
          <td>{{ocorrencia.classificacao}}</td>      
          <td>{{ocorrencia.estado}}  {{ocorrencia.alcadaAtual}}</td>
          <td>{{ocorrencia.alcadaFinal}}</td>
          <td>{{ocorrencia.dataHoraAbertura  |  date:'yyyy-MM-dd' }}</td>
          <td>{{ocorrencia.dataPrazoFinal  |  date:'yyyy-MM-dd' }}</td>
            <td>  <button mat-stroked-button color="primary" (click)="detalharOcorrencia(ocorrencia)" >Detalhar</button>   </td>
        </tr>
        </tbody>
    </table>


</div>